
header {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-family:"shrikhand",cursive;
    box-shadow:0px 3px 4px rgba(194, 202, 205, 0);
    padding:4px;
    position:relative;
    
 }